@import 'tailwindcss';

@theme {
  --font-display: 'Inter', sans-serif;

  /* COLOR PALETTE */
  --color-bg1: #f9f9fb;
  --color-bg2: #f6efef;
  --color-primary: #704232;
  --color-border: #e2e2e6;
  --color-accent: #a86f53;

  --color-success: #6ca87d;
  --color-warning: #e0a458;
  --color-error: #c05746;
}

@layer base {
  body {
    @apply h-screen;
  }

  input {
    @apply border rounded-md p-3 border-border shadow-md focus:outline-none text-sm;
  }

  section {
    @apply h-full;
  }

  label {
    @apply text-primary text-sm;
  }

  button {
    @apply text-center w-full text-sm p-4 rounded-lg shadow-lg hover:shadow-xl cursor-pointer border border-border;
  }
}

.container {
  @apply max-h-screen max-w-screen h-full w-full;
}
